<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tripath.com.qsalesprototypeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="tripath.com.qsalesprototypeapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="tripath.com.qsalesprototypeapp.permission.C2D_MESSAGE" />

    <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ag_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
             [START instanceId_listener_service]
                인스턴스 ID를 받는 서비스
        -->
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!-- GCM Reciever 등록 -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="tripath.com.qsalesprototypeapp" />
            </intent-filter>
        </receiver>

        <!-- GCM 토큰 받는 -->
        <service
            android:name=".gcm.GCMGetTokenService"
            android:exported="false" />

        <!-- 서버에서 받은 메세지를 처리하는 서비스 -->
        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="tripath.com.qsalesprototypeapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pic_path" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".QSampleActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GetListActivity" />
        <activity android:name=".legacy.ChatRoomActivity" />
        <activity android:name=".ChatRoomCoordinatorActivity" />
        <activity android:name=".legacy.ChatRoomWebViewActivity" />

        <!-- <service android:name=".push.FirebaseListenerService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- <service android:name=".push.FirebaseInitialize"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->

        <activity android:name=".SettingActivity" />
        <activity android:name=".mvpinterface.MVPMainActivity" />
        <activity android:name=".mvpinterface.MVPGetListActivity"></activity>
    </application>

</manifest>